body{margin: 0 auto;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;max-width: 700px;background: url(dot.png) #533400;}

.tagline {
    display: block;
    color: #fff;
    margin: 2em 0;
    background-color: #422308;
    border: 1px solid #5f3511;
}

.logo {
    background: 5px 5px url(logo.png) no-repeat;
    background-size: 90px;
    display: block;
    width: 90px;
    height: 90px;
    margin: 1em auto;
    background-color: #fff;
    border-radius: 100%;
    padding: 5px;
}

.butt-block {
    text-align: center;
    margin: .5em;
}

.butt-block button {
    background-color: transparent;
    font-size: 1em;
    padding: .5em 1em;
    margin: 0 .5em;
    border: 2px solid #d7833c;
    color: #fff;
    border-radius: 3px;
    font-weight: 700;
    transition: .5s;
    text-shadow: 0 0 5px #704017;
}

.butt-block button:hover {
    background-color: #ea9c17;
}

.tagline h3 {
    margin: 0;
    font-style: initial;
    font-weight: 500;
    font-size: 1.5em;
    background-color: #d98900;
    padding: .5em;
}

.tagline p {
    margin: 1em;
}

.header {
    font-size: 3em;
    text-align: center;
    background-color: #d98900;
    border-radius: 5px;
    color: #fff;
    text-shadow: 0 0 5px #9a4600;
}

.buy-box {
    width: 500px;
    margin: 0 auto 5em;
    text-align: center;
    background-color: #222;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
}

.buy-box h3 {
    font-size: 1.5em;
    font-weight: 100;
    border-bottom: 2px solid #191919c9;
    margin: 1em;
    padding-bottom: .75em;
}

.money b {
    font-size: 2em;
    display: block;
    color: #d97000;
    font-weight: 400;
}

.money i {
    font-size: .75em;
    font-family: sans-serif;
}

.paypal {
    background-color: #0080ff;
    font-size: 1.25em;
    border: 0;
    padding: .5em 2em;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.paypf {
    margin: 1em 0;
}
.paypf input {
    display: block;
    margin: 1em;
    border: 0;
    padding: .5em;
    font-size: 1em;
    font-weight: 500;
    width: 450px;
    font-family: inherit;
    text-align: center;
    border-radius: 3px;
}.buy-box .terms {
    margin: .5em;
    display: block;
    font-size: .75em;
    font-weight: 500;
}.buy-box .info {
    text-align: left;
    margin: 2em;
}.buy-box .info a{color:#fff}.buy-box .info b {
    font-size: .9em;
    color: #ea9c17;
}.buy-box .info b span {
    color: #d96600;
}