.logo,.money b,.paypf input,.tagline{display:block}body{margin: 2em auto;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;width:95%;background: #ffe9c1;}.tagline{color:#fff;margin: 2em 0;background-color: #a4520a;border-radius: 3px;}.logo{background:url(logo.png) 5px 5px no-repeat #fff;background-size:90px;width:90px;height:90px;margin:1em auto;border-radius:100%;padding:5px}.butt-block{text-align:center;margin:.5em}.butt-block button{cursor:pointer;background-color:transparent;font-size:1em;padding:.5em 1em;margin:.5em;border: 0;color:#fff;border-radius:3px;font-weight: 500;transition:.5s;/* text-shadow:0 0 5px #704017; */background-color: #422308;text-transform: uppercase;font-family: inherit;}.buy-box,.header{border-radius:5px;color:#fff;}.butt-block button:hover{background-color:#ea9c17}.tagline h3{
    box-shadow: 0 3px 25px -10px #824109;
}.tagline h3{margin:0;font-style:initial;font-weight:500;font-size:1.5em;padding:.5em}.tagline p{margin:1em}.header{font-size:3em;text-align: center;color: #d98900;}.buy-box{margin: 2em 5%;padding: 0 2em 1em;background-color: #363636;overflow:hidden;}.buy-box h3{font-size:1.5em;font-weight:100;box-shadow: 0 10px 15px -15px #191919c9;margin: 1em 0 0;padding-bottom:.75em;}.money b{font-size:2em;color:#d97000;font-weight:400}.buy-box .info a,.paypal{color:#fff}.buy-box .terms,.paypf input{display:block;font-weight:500}.money i{font-size:.75em;font-family:sans-serif}.paypal{background-color:#0080ff;font-size:1.25em;border:0;padding:.5em 2em;border-radius:3px;cursor:pointer}.paypf{margin:1em 0}.paypf input{margin:1em auto;border:0;padding:.5em;font-size:1em;width:85%;font-family:inherit;text-align:center;border-radius:3px}.buy-box .terms{margin:.5em;font-size:.75em}.buy-box .info{text-align:left;font-size: .75em;font-weight: 500;}.buy-box .info b{font-size:.9em;color:#ea9c17}.buy-box .info b span{color:#d96600}

.buy-area {
    max-width: 900px;
}

.w7 {
    font-weight: 700;
}

.cent {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.w9 {
    max-width: 900px;
}

.backto {
    position: absolute;
    margin: 1em 0;
}

.backto a {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 3px;
}

table {
    width: 100%;
}

table td {
    padding: 1em;
    margin: 0;
    vertical-align: top;
}

td b {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
}
.info a{color:#fff}.info b{font-weight:500}

.buy-box p.money {}

.tos h3 {
    font-weight: 500;
}

.tos p {
    font-size: .75em;
    color: #555;
}

.tos a {
    color: #444;
}